.basket__container {
    overflow: auto;
    width: 65%;
    height: 80vh;
    border: 1px solid black;
    text-align: center;
}

.quantity__container {
    display: border 1px solid black;
}

.card__basket {
    display: inline-block;
    margin: 20px;
    position: relative;
    
    .quantity {
        position: absolute;
        top: 10px;
        z-index: 2;
        left: -10px;
        font-size: 20px;
        color: white;
        background-color: black;
        border-radius: 15px;
        letter-spacing: 2px;
        padding: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .basket__container {
        width: 90%;
        margin: 0 auto;
    }
}
