.shop__menu {
    width: 25%;
    height: 80vh;
    border: 1px solid black;
    ul li {
        cursor: pointer;
        font-size: 25px;
        padding-top: 20px;
        padding-left: 20px;
    }
}