.container {
    width: 1170px;
    margin: 0 auto;
}

.shoppingCart__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.totalCost {
    padding-top: 20px;
}

@media screen and (max-width: 1000px) {
    .shoppingCart__container {
        flex-direction: column-reverse;
    }
    .totalCost {
        padding-left: 60px;
    }
}